@keyframes slidetextright {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  50% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slidetextleft {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  50% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes navbaranimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.2; }
  50% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

.searchbutton {
  margin-top: 8px;
  color: white; }

.postbutton {
  font-size: 1rem;
  border-radius: 75px;
  background-color: white !important;
  color: blue !important; }

.header {
  margin-bottom: 0px;
  height: 80vh;
  background-image: linear-gradient(to right bottom, rgba(0, 128, 0, 0.6), rgba(0, 255, 98, 0.459)), url(../background.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%); }
  .header__main {
    letter-spacing: 20px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__main--title {
      animation-name: slidetextright;
      animation-duration: 2s;
      font-size: 3.5rem;
      line-height: 1.2;
      font-weight: 300; }
    .header__main--subtitle {
      font-size: 1.25rem;
      animation-name: slidetextleft;
      animation-duration: 2s;
      font-weight: 300; }

.main_sidebar {
  text-align: center; }

@media (max-width: 800px) {
  .main_sidebar {
    display: none; } }

.footer {
  width: 100%;
  background: linear-gradient(to right bottom, rgba(0, 128, 0, 0.6), rgba(0, 255, 98, 0.459));
  color: white; }

.navigation__button {
  height: 4rem;
  width: 4em;
  background-color: white;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  border-radius: 50%;
  z-index: 1200; }

.navigation__background {
  height: 3rem;
  width: 3em;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(green, white);
  z-index: 1000; }

.projects_grid__project {
  border-width: 0.5px black solid;
  max-width: 250px;
  margin-left: 40px;
  margin-bottom: 40px; }

.postsgrid_post {
  border: 1px solid blue; }

.main-content {
  background: linear-gradient(176deg, white 20%, rgba(0, 128, 0, 0.6) 20% 40%, white 40%); }
