.footer {
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right bottom, rgba(41, 151, 255, 0.6), rgba(86, 67, 250, 0.459)), url(../background.jpg);
    color: white;
}