.header {
    margin-bottom: 0px;
    height: 80vh;
    background-image: linear-gradient(to right bottom, rgba(0, 128, 0, 0.6), rgba(0, 255, 98, 0.459)), url(../background.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    &__main {
        color: $text-color;
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        &--title {
            letter-spacing: 0.7em;
            animation-name: slidetextright;
            animation-duration: 2s;
            font-size: 4rem;
            line-height: 1.2;
            font-weight: 300;
            @include responsible(phone) {
                letter-spacing: 0.1em;
                font-size: 3rem;
            }
            @include responsible(tab) {
                letter-spacing: 1em;
                font-size: 2.5rem;
            }
        }
        &--subtitle {
            letter-spacing: 0.7em;
            font-size: 2.5rem;
            animation-name: slidetextleft;
            animation-duration: 2s;
            font-weight: 300;
            @include responsible(phone) {
                letter-spacing: 0.1em;
                font-size: 1.7rem;
            }
            @include responsible(tab) {
                letter-spacing: 1em;
                font-size: 2rem;
            }
        }
    }
}