.projects_grid {
    &__project {
        border-width: 0.5px black solid;
<<<<<<< HEAD
        padding-right: 0px;
        padding-left: 0px;
        max-width: 100%;
=======
        max-width: 250px;
>>>>>>> parent of 3d6719f... sdfsdfsdfs
        margin-left: 40px;
        margin-bottom: 40px;
    }
}