.project_card {
    perspective: 150rem;
    position: relative;
    height: 50rem;
    // margin-bottom: 30rem;
    &__side {
        box-shadow: 0 1.5rem 4rem rgba(black, .15);
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 40rem;
        width: 100%;
        transition: all 0.5s;
        overflow: hidden;
        &--front {
            background-color: white;
        }
        &--back {
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            background-image: linear-gradient(to right bottom, rgba(77, 117, 155, 0.6), rgba(86, 67, 250, 0.4)), url('../background.jpg');
            transform: rotateY(180deg);
        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }
    &__image {
        margin-bottom: 1em;
        clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
        height: 12rem;
        // background-blend-mode: color-dodge;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(to right bottom, rgba(77, 117, 155, 0.6), rgba(86, 67, 250, 0.4)), url('../background.jpg');
    }
    &__heading {
        font-size: 1.2rem;
        font-weight: 300;
        color: white;
        position: absolute;
        top: 2%;
        left: 40%;
    }
    &__heading__span {
        margin-left: 0;
        margin-right: 0;
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: linear-gradient(to right bottom, rgba(77, 117, 155, 0.6), rgba(86, 67, 250, 0.4)), url('../card-image.jpg');
    }
    &__details {
        margin-top: 1rem;
        margin-bottom: 0.1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 1.5rem;
        height: 9rem;
    }
    &__skills {
        text-align: center;
    }
    &__buttons__front {
        text-align: center;
    }
    &__buttons__back {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center !important;
    }
    &__backtitle {
        font-size: 6em;
        font-weight: 100;
    }
}