 .postbutton {
     font-size: 1.4rem;
     border-radius: 75px;
     display: inline-block;
     //  width: 47%;
     border-color: white !important;
     color: white !important;
     background-color: rgb(94, 192, 121) !important;
 }