<<<<<<< HEAD
body {
    padding: 0;
    // max-width: 100%;
}

// .row {
//     margin-right: 0;
//     width: 100%;
// }
// .container-fluid {
//     padding-right: 0;
// }
html {
    font-size: 89%;
    @include responsible(phone) {
        font-size: 66%;
    }
    // @include responsible(tab) {
    //     font-size: 75%;
    // }
    // @include responsible(desktop) {
    //     font-size: 89%;
    // }
}

=======
>>>>>>> parent of 008e947... dgfdfg
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    // width: 100%;
=======
>>>>>>> parent of 008e947... dgfdfg
    // box-sizing: inherit;
}