@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slidetextright {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slidetextleft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slidetextrightmobile {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slidetextleftmobile {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes navbaranimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}